:root {
    --accent-color: #2e2f42;
    --title-color: #4d5ae5;
 --primary-color: #434455;
 --secondary-color: #f4f4fd;
 --background-color:#FFFFFF;
 --color-header: #404bbf;

}
.link{
text-decoration: none;
}

.list {
    list-style: none;
}
body{

font-family: 'Roboto', sans-serif;
color: var(--primary-color);
background-color: var(--background-color);

}

/*----------------------------HEADER-----------------------------*/
.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    padding: 0 15px 0 15px;
}

.header-style{
    border-bottom: 1px solid #e7e9fc;

}

.div-header-style{
    display: flex;
  

}


.nav-header-style{
    display: flex;
    align-items: center;
}

.web-header{
font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
    text-decoration: none;

}


.text-studio{
    
    color: var(--accent-color);
    

}

.points-li-header{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
 letter-spacing: 0.02em;
 color:var(--accent-color);

}

.points-li-header:hover{
    color: var(--color-header);
}

.points-li-header:focus{
    color: var(--color-header);
}

.address{
    font-style: normal;

}



.address-points{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);

}

.address-points:hover{
color:var(--color-header);
}

.address-points:focus{
    color:var(--color-header);
}






.adress-phone link:focus {
    color: var(--color-header);
}
/*---------------------------main--------------------------------*/
button{
background: var(--color-header);
}


.button-style{
    list-style: none;

}
.button-style-all-points{
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--title-color);
    background-color: var(--secondary-color);
    cursor: pointer;
    
}

.button-style-all-points:hover{
    color: var(--background-color);
    background-color:var(--color-header);
}

.button-style-all-points:focus{
    color: var(--background-color);
background-color: var(--color-header);
}
.list{
    list-style: none;
text-decoration: none;
}



.style-title-points-all{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.p-all-points{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-color);

}

.what-are-we-doing{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);

}

.section-our-team{
    background-color: var(--secondary-color);

}

.title-our-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--accent-color);

}

.points-name{
    background-color: var(--background-color);
}

.title-all-points{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.text-all-points{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


/*-----------------------------------index-html----------------------------*/

.section-style-esyb{
    background-color: var(--accent-color);

}

.effective-solutions-for-your-business{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color);

}

.style-button-order-service{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--background-color);
    cursor: pointer;


}

.style-button-order-service:hover{
    background-color: var(--color-header);
}

.style-button-order-service:focus{
    background-color:var(--color-header);
}

.all-points{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-color);

}

.our-goal{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}


/*-----------------------------footer--------------------------*/




.positione-footer-wb{
    background-color:var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
       
}

.text-studio-footer{
    color: var(--secondary-color);
}
.web-header-footer{
color: var(--title-color);
font-family: "Raleway", sans-serif;
font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text-paragraph-footer{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
    line-height: 1.5;
    color:var(--secondary-color);
    letter-spacing: 0.02em;

}


   
